ul.params{
    padding-left: 15px;
    li {
        margin-left:0;
        padding-left:0;

    }
    span{
        font-weight:bold;
        padding-left:2px;
    }

    a{
        font-size:26px;
    }
}