.player-info {
    a {
    font-size:26px;
    font-weight: bold;
    font-style: italic;
    color: #c578a3;
    }
}

.notFound{
    background: url('../images/404.png') 50% 50% no-repeat;
    width:600px;
    height: 400px;
    display: inlin-block;
    margin: 0 auto;
}